{% if include.is_home %}
	<h2 class="home-featured-content-section__header">
{% else %}
	<p><img class="tout__avatar" src="/img/me.jpg" alt="Max Chadwick"><strong>
{%endif%}
	Hi, I'm Aditya!
{% if include.is_home %}
	</h2>
{% else %}
	</strong></p>
{%endif%}
<p>I'm an Python engineer interested in solving problems in natural language understanding and machine translation.</p>
<p>During the day I work as a software developer at <a href="https://www.somethingdigital.com/">Devfactory</a>. In my free time, I read machine learning papers and implement them. I also write about <a href="{{ site.baseurl }}/blog"> travel</a> and <a href="{{ site.baseurl }}/blog"> other things</a></p>
<p>If you'd like to get in touch with me the best way is <a href="https://twitter.com/maxpchadwick">by email.</a>.</p>
