{% if include.is_home %}
	<h2 class="home-featured-content-section__header">
{% else %}
	<p><img class="tout__avatar" src="/img/me.jpg" alt="Aditya Bhagwat"><strong>
{%endif%}
	Hi, I'm Aditya!
{% if include.is_home %}
	</h2>
{% else %}
	</strong></p>
{%endif%}
<p>I love fiddling with large neural networks and trying to get them to "understand" human language. I document my <a href="/projects">efforts</a> and <a href="/blogs/">learnings</a> here.</p>
<p>I'm a Pythonista slowly falling in love with Haskell and Typescript. Computer Science graduate from IIT Kharagpur, incoming graduate student at CMU.</p>
