{% if include.is_home %}
	<h2 class="home-featured-content-section__header">
{% else %}
	<p><img class="tout__avatar" src="/img/me.jpg" alt="Aditya Bhagwat"><strong>
{%endif%}
	Hi, I'm Aditya!
{% if include.is_home %}
	</h2>
{% else %}
	</strong></p>
{%endif%}
<p>I love fiddling with large neural networks and trying to get them to "understand" human language. I document my <a href="/projects">efforts</a> and <a href="/blogs/">learnings</a> here.</p>
<p>I'm a Pythonista slowly falling in love with Haskell and Typescript. Studied Computer Science at IIT Kharagpur, incoming graduate student at CMU.</p>
<p>If you'd like to get in touch with me the best way is <a href="mailto:bhagwat.work@gmail.com">through email</a>. Let me know if I made a mistake anywhere or if you have an interesting idea you would like to see a post about.</p>
