.blog-post-wrapper {
  @media (min-width: 920px) {
    h2 {
      margin-top: 0.1em;
      margin-bottom: 0.75em;
    }

    p, h3, h4, div.edits {
      max-width: 780px;
      // margin-left: 10px;

      /* Negate the styling for images */
      img:not(.emoji) {
        max-width: 800px;
        margin-left: -10px;
      }
    }
    blockquote p {
      margin-left: 0;
    }
  }
}
