.footer {
    padding: 9px;
    color: white;
    text-align: center;
    background-color: $color-bg-pop-alt;
    // margin-top: 50px;
    flex: none;
    // position: fixed;
    // bottom: 0;
    width: 100%;

    clear: both;
    position: relative;
    height: 100px;
    margin-top: -100px;

    // p {
    //   margin-bottom: 0;


    //   &:last-child {
    //     margin-bottom: 0;
    //   }
    // }

    a {
        color: $color-bg-pop-link;
        text-decoration: underline;

        &:hover {
          color: $color-bg-pop-link-hover;
        }
    }
}
