.projects {
  .clear {
    clear: both
  }

  .projectbox {
    float: left;
    display: block;
    margin: 8px;
    width: 794px;
  }
  .project {
    width: 100%;
    float: left;
    padding: 12px;
    margin-bottom:0;
  }
  .project_img {
    float: left;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
  }
  .project_img :hover { 
    border: 3px solid black; 
  } 

  .project_content {
    float: left;
    margin-left: 20px;
    width: 450px;
    text-align: left;
  }
  .project_title {
    float: left;
    // margin-top: -2px;
    text-align: left;
    // color: #0654ba;
  }
  .project_overview{
    float: left;
    margin-bottom: 20px;

    // font-size: 14px;
    // color: #767676;
  }
}