.projects {
  .clear {
    clear: both
  }

  .projectbox {
    float: left;
    display: block;
    margin: 8px;
    width: 794px;
  }
  .project {
    width: 100%;
    float: left;
    padding: 12px;
    margin-bottom:0;
  }
  .project_img {
    float: left;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #e4e4e4;
  }
  // .project_img :hover { 
  //   border: 1px solid rgb(0, 19, 129); 
  // } 

  // .imagedropshadow {
  //   padding: 5px;
  //   border: solid 1px #EFEFEF;
  // }

  .project_img :hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
  }

  .project_content {
    float: left;
    margin-left: 20px;
    width: 450px;
    text-align: left;
  }
  .project_title {
    float: left;
    text-align: left;
  }
  .project_overview{
    float: left;
    margin-bottom: 20px;
  }
}