table {
  border-collapse: collapse;
  margin-bottom: 1em;
  display: block;
  overflow-x: auto;
  font-size: 20px
}
tr {
  text-align: left;
  font-size: 15px;
}
th,
td {
  padding-top: 5px;
  font-size: 20px;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
th {
  border-bottom: 2px solid black;
}
td {
  border-bottom: 0px solid black;
}
